*
!.gitignore
!PKGBUILD
!ZopePublicLicense.txt
!artistic-2_0.txt
!cc-by-3.0.txt
!cc-by-nc-3.0.txt
!cc-by-nc-nd-3.0.txt
!cc-by-nc-sa-3.0.txt
!cc-by-nd-3.0.txt
!cc-by-sa-3.0.txt
!cc-readme.txt
!cddl-1.0.txt
!cpl-1.0.txt
!eclipse-1.0.txt
!perlartistic.txt
!python-2.txt
!ruby-license.txt
!w3c.txt
